/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}
body{

;

   
}
main{width: 950px;
margin:0 auto;
display:block;
align-items:baseline;
justify-content:space-around;
}

nav{
 display: flex;
   justify-content: flex-end;
   align-items:baseline;
}

header{background-image:url("../images/header.jpg");
  height: 1000px;
  background-size: cover;
 
}

.colone{
   display:flex;

}

.portfolio{
display: flex;
}

 h1{

   font-family:'Montserrat' , sans-serif; 
   font-size:60px;
   color:#465065;
}

 h3{
    font-family:'Montserrat' , sans-serif; 
   font-size:25px;
   color: #465065;
 }

h2{font-family:'Montserrat' , sans-serif; 
   font-size:35px;
   color:#465065;

}
/* 
p{font-family:'Open Sans' , sans-serif; 
 color:#465065;}*/

h3+p:first-line, h2+p:first-line {
   color:#465065;
}

p{
  color:#9aa0ab;
  font-family:'Open Sans' , sans-serif; 
}

.presentation{
   display: flex;
}



/*.OurTeam{
   display:flex;



}*/

footer{height: 20px;}

