/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}
body{

;

   
}
main{width: 940px;
margin:0 auto;
background-color: lightgrey;}

nav{
 display: flex;
   justify-content: flex-end;
   align-items:baseline;
}

header{
   background-image:url("../images/header.jpg");
  height: 1000px;
  background-size: cover;
 

span{display: flex;
   color: #465065;

}

.colone{
   display:flex;

}

.portfolio{
   display: flex;
}

 h1{display: flex;

   font-family:'Montserrat:700' , sans-serif; 
   font-size:60px;
   color:#465065;
}
p{font-family:'Open Sans' , sans-serif;  }

.presentation{
   display: flex;
}



/*.OurTeam{
   display:flex;



}*/

footer{height: 20px;}

